@page "/"

@inject IApiClient ApiClient

<PageTitle>Index</PageTitle>

<h1>Lista de personas</h1>
<p>
    Ejemplo básico de consumo de una API con Blazor, mediante OpenApiReference y IHttpClientFactory.
    El objetivo principal de este proyecto es la gestión y control de las excepciones que se pueden 
    producir tanto en el Front end como en el Back end consumiendo una API externa.
</p>

<GenericList List="Personas">
    <Found Context="persona">
        <Person Persona="persona" />
    </Found>
</GenericList>

@code {
    [Parameter]
    [EditorRequired]
    public List<Persona>? Personas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Personas = (await ApiClient.ApiV1PersonaGetAsync()).ToList();
    }
}
